<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
</head>
<link rel="stylesheet" href="../static/style.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<body>
  <nav id="navbar"> 
    <ul> 
      <li><a href="/">Home </a></li>
      <li><a href="/registration">Register  </a></li>
      <li><a href="/login">Login </a></li>
    </ul>
  </nav>
  <!-- section -->
  <section class="indexcontainer">
    <div class="indexbox">
      <p class="text">Mentoring Management System</p>
      <p class="textsmall">“A mentor is someone who sees more talent and ability within you, than you see in yourself, and helps bring it out of you.” </p>
    </div>
    <div class="indexbox roungimage">
     <img src="../static\img\home_image.png" alt="image" width="500" height="500">
     </div>
  </section>

  <footer>
    <div class="footer-content">
      <ul class="socials">
          <li><a href="#"><i class="fa fa-linkedin-square"></i></a></li>
          <li><a href="#"><i class="fa fa-github"></i></a></li>
          <li><a href="#"><i class="fa fa-twitter"></i></a></li>
          <li><a href="#"><i class="fa fa-instagram"></i></a></li>
          <li><a href="#"><i class="fa fa-envelope"></i></a></li>
      </ul>
    </div>
    <div class="footer-bottom">
      <p>Team Member: <a href="#">Saurabh Maurya, Vishal Kumar Pal , Ayush Sehgal</a></p>
    </div>
  </footer>
</body>
</html>