<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Invalid</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body style="background-color: #1eadad;">
    <div class="reginvalid">Mentor/Mentee Not Assigned To You Yet.</div>
    <p class="reginvalidp">Wait for some time or contact admin.</p>
</body>
</html>