doctype html
html(lang="en")
  head
    title registration 
    style
      include ../static/style.css
  body
    nav#navbar 
        ul 
           li #[a(href="/") Home ]
           li #[a(href="/registration") Register  ]
           li #[a(href="/login") Login ] 
    div.headline Welcome ! Register Here
    div#registration 
       div.adimnreg.registrationbox
         p ADMIN
         form(action="/admin-registration" method="post" class="formcontainer" )
            h4 Name :
            input(type="text",class="input-text", name="adminname" , placeholder="enter your name" autocomplete="off")
            h4 Email :
            input(type="email",class="input-text", name="adminemail" , placeholder="enter your email" autocomplete="off")
            h4 Password :
            input(type="password",class="input-text", name="adminpassword" , placeholder="create your password")
            input(type="submit" class="btn" value="Register")

       div.mentorreg.registrationbox
         p MENTOR
         form(action="/mentor-registration" method="post" class="container")
            h4 Name :
            input(type="text",class="input-text", name="mentorname" , placeholder="enter your name",required autocomplete="off")
            h4 Email :
            input(type="email",class="input-text", name="mentoremail" , placeholder="enter your email" autocomplete="off")
            h4 Mobile No :
            input(type="tel",class="input-text", name="mentormobile" , placeholder="enter your phone number" autocomplete="off")
            h4 Password :
            input(type="password",class="input-text", name="mentorpassword" , placeholder="create your password")
            h4 Gender: 
            input(type='radio' name='mentorgender' value='male' class="gender-radio")
            |  Male
            br
            input(type='radio' name='mentorgender' value='female' class="gender-radio")
            |  Female
            br
            h4 Department: 
            select.department-select.mentor-department(name='mentordepartment')
               option --Select--
               option CSE
               option IT
               option ECE
               option EEE
               option MECH
               option CIVIL
               option META
               option MINING
            h4 Language:
            select.language-select.mentor-language(name='mentorlanguage')
               option --Select--
               option Hindi
               option English
               option Kanaddda 
               option Telugu
               option Tamil
               option Malyali
            h4 Passing Year:
            input(type="year" , name="mentor_passing_year" , class="passing-year")
            h4 Company  :
            input(type="text",class="input-text", name="mentorcompany" , placeholder="enter your current company name")
            input( type="submit" class="btn" value="Register")

         
         
       div.menteereg.registrationbox
         p MENTEES
         form(action="/mentee-registration" method="post" class="container")
            h4 Name :
            input(type="text",class="input-text", name="menteename" , placeholder="enter your name",required autocomplete="off")
            h4 Email :
            input(type="email",class="input-text", name="menteeemail" , placeholder="enter your email" autocomplete="off")
            h4 Mobile No :
            input(type="tel",class="input-text", name="menteemobile" , placeholder="enter your phone number" autocomplete="off")
            h4 Password :
            input(type="password",class="input-text", name="menteepassword" , placeholder="create your password")
            h4 Gender: 
            input(type='radio' name='menteegender' value='male' class="gender-radio")
            |  Male
            br
            input(type='radio' name='menteegender' value='female' class="gender-radio")
            |  Female
            br
            h4 Department: 
            select.department-select.mentee-department(name='menteedepartment')
               option --Select--
               option CSE
               option IT
               option ECE
               option EEE
               option MECH
               option CIVIL
               option META
               option MINING
            h4 Language:
            select.language-select.mentee-language(name='menteelanguage')
               option --Select--
               option Hindi
               option English
               option Kanaddda 
               option Telugu
               option Tamil
               option Malyali
            h4 Semester:
            select.semester-select.mentee-semester(name='menteesemester')
               option --Select--
               option 1
               option 2
               option 3
               option 4
               option 5
               option 6
               option 7
               option 8
            input(type="submit" class="btn" value="Register")