*{
    margin: 0;
    padding: 0;
    font-family:euclid_circular_a,arial,source sans pro,helvetica neue,helvetica,arial,sans-serif;
}

#navbar{
    background-color: white;
    padding: 13px 50px;
    box-shadow: 0 .5rem .5rem rgb(0,0,0,.2);

}
#navbar ul{
    display: flex;
    justify-content: flex-end;
   
}
#navbar li{
    list-style: none;
}
#navbar a{
    text-decoration: none;
    padding: 10px;
    font-size: 20px;
    padding: 0px 25px;
    color: black;
}
#navbar a:hover{
    color: #0556f3;
}

.mentorfeedback{
  text-align: center;
  margin-top: 20px;
  color: #0556f3;
}

.mentfeedcontainer{
    width: 60%;
    height: 70vh;
    display: flex;
    margin: 0 auto;
    border: 1px solid black;
}

.msgsend{
    bottom: 2px;
    margin-bottom: 10px;
}

.msgform{
    display: flex;
    align-items: flex-end;
  margin: 0 auto;
}

.msg{
    border: 1px solid #444;
    padding: 5px 8px;
    border-radius: 13px;
    height: 25px;
  }

  .messeges{
    overflow-y: auto;
    min-height: 55vh;
    max-height: 55vh;
}

.messeges span{
   
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 15px;
 }

 .messeges p{
    padding: 13px;
}

