*{
    margin: 0;
    padding: 0;
    font-family:euclid_circular_a,arial,source sans pro,helvetica neue,helvetica,arial,sans-serif;
}
.headline{
    font-size: 25px;
    margin-top: 15px;
    text-align: center;
    color: #018786;
}
#navbar{
    background-color: white;
    padding: 13px 50px;
    box-shadow: 0 .5rem .5rem rgb(0,0,0,.2);
    margin-bottom: 15px;
}

#navbar ul{
    display: flex;
    justify-content: flex-end;
}


#navbar li{
    list-style: none;
    border: 1px solid #018786;
    border-radius: 3px;
    padding: 5px 1px;
    margin-right: 10px;
    background-color: #018786;
}


#navbar ul a{
    text-decoration: none;
    font-size: 20px;
    padding: 0px 25px;
    color: white;
}

    

.indexcontainer{
    display:flex;
    align-items: center;
    margin: 5px 20px;
}
.indexbox{
    width: 50%;
}

.indexbox img{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.text{
    font-size: 3rem;
    color: #026868;
    text-align: center;
}
.textsmall{
    padding-top: 5px;
    font-size: 1.5rem;
    color: #666;
    text-align: center;
}


/* registration page */

#registration,#login{
    margin-top: 25px;
    display: flex;
    justify-content: space-around;
}

.registrationbox {
       box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
   width: 28%;
    height: 73vh;
    max-height: 75vh;
    overflow: auto;
}

.loginbox {
       box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    width: 28%;
    height: 73vh;
    max-height: 75vh;
    overflow: auto;
}



.registrationbox::-webkit-scrollbar {
    display: none;
  }

.registrationbox p,.loginbox p{
    margin: 20px 80px;
    padding: 5px 0;
    text-align: center;
    /* color: #0556f3; */
    color: #018786;
    /* border: 1px solid #0556f3; */
    /* box-shadow: 0 .5rem .5rem rgb(0,0,0,.2); */
    font-size: 20px;
    border-radius: 10px;
}

.input-text{
    align-items: center;
    width: 80%;
    margin-left: 15px;
    margin-bottom: 15px;
    height: 25px;
    border: .5px solid black;
    /* border-bottom: 2px solid black;
    border-top: 1px solid white;
    border-left: 1px solid white;
    border-right: 1px solid white; */
    border-radius: 4px;
    /* padding: 5px; */
    padding: 8px 16px;

}
 /* .input-text:hover{
    border-bottom: 2px solid #0556f3;
    border-top: 1px solid white;
    border-left: 1px solid white;
    border-right: 1px solid white;
} */
.input-text:focus {
    
    /* border-bottom: 2px solid #0556f3;
    border-top: 1px solid white;
    border-left: 1px solid white;
    border-right: 1px solid white;  */
    outline: 1px solid #3ed2d2;

   } 

   .passing-year:focus{
    outline: 2px solid #0556f3;

   }

 h4{
   margin-left: 15px;
   padding-bottom: 5px;
   font-size: 15px;
   color: #333;
   font-weight: 100;
}

.gender-radio {
    margin-left: 15px;
    margin-bottom: 15px;
    font-size: 25px;
    color: #0556f3;
}
.language-select,.department-select,.passing-year,.semester-select{
    margin-left: 15px; 
    margin-bottom: 15px;
    width: 90%;
    height: 35px;
    text-align: center;
    font-size: 20px;
    border: 1px solid #666;
    border: 1px solid #888;
    border-radius: 5px;
}
.buttn{
   display: grid;
   margin: auto;
   margin-bottom: 15px;
   margin-top: 15px;
   padding: 7px 1px;
   border: 1px solid #026868;
   background-color: #018786;
   color: white;
   width: 35%;
   border-radius: 6px;
   font-size: 20px ;
}
.buttn:hover{
    background-color: #26adad;
}
.login-btn:hover{
    background-color: #26adad;
}

.login-btn{
   display: grid;
   margin: auto;
   margin-top: 10px;
   padding: 7px 14px;
   border: .5px solid #26adad;
   background-color: #018786;
   color: white;
   width: 60%;
   border-radius: 5px;
   font-size: 20px ;
}

label{
    font-size: 20px;
    padding-bottom: 5px;
}


 /* media queries for index page */
 
 @media (max-width: 800px) {
    .indexcontainer {
      flex-direction: column;
    }
  }
  
 @media (max-width: 800px) {
    .indexbox{
        width: 100%;
        justify-content: center;
        padding-bottom: 20px;
    }
  }

  @media (max-width: 800px) {
    #navbar ul{
        flex-direction: column;
    }
  }
  @media (max-width: 800px) {
    #navbar ul li {
        display: flex;
        justify-content: center;
        margin-bottom: 5px;
    }
  }

  img {
    max-inline-size: 100%;
    block-size: auto;
  }
  


 /* registration page media query */

  @media (max-width: 800px) {
    #registration{
        flex-direction: column;
    }

   
    .registrationbox{
        height: auto;
        width: 100%;
        justify-content: center;
    }
  }

  @media (max-width: 800px) {
     #login {
        flex-direction: column;
    }
    .loginbox{
        height: auto;
        margin-bottom: 30px;
        width: 100%;
        justify-content: center;
    }
    .formcontainer{
        margin-bottom: 30px;
    }
  }



  /* footer css */
footer{
    background: #018786;
    height: auto;
    padding-top: 5px;
    color: #fff;
}
.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin-top: 8px;
}
.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
}
.socials li{
    margin: 0 10px;
}
.socials a{
    text-decoration: none;
    color: #fff;
    border: 1.1px solid white;
    padding: 5px;
    border-radius: 50%;
}
.socials a i{
    font-size: 1.1rem;
    width: 20px;
    transition: color .4s ease;
}
.socials a:hover i{
    color: black;
}

.footer-bottom{
    background: #018786;
    margin-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}
.footer-bottom p{
    color: black;
    float: centre;
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}
.footer-bottom p a{
    color: white;
  font-size: 16px;
  text-decoration: none;
}
.footer-bottom span{
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
}
.footer-menu{
  float: right;

}
.footer-menu ul{
  display: flex;
}
.footer-menu ul li{
padding-right: 10px;
display: block;
}
.footer-menu ul li a{
  color: #cfd2d6;
  text-decoration: none;
}
.footer-menu ul li a:hover{
  color: #27bcda;
}
      
@media (max-width:500px) {
.footer-menu ul{
  display: flex;
  margin-top: 10px;
  margin-bottom: 20px;
}
}


/* invalid css */
        .invalid{
        color: white;
        margin-top: 42vh;
        text-align: center;
        font-size: 5rem;
        }
        .invalidp{
            text-align: center;
            color: white;
            font-size: 3rem;
        }
        @media (max-width:500px) {
        .invalid{
            font-size: 3rem;
        }
        }

        .reginvalid{
        color: white;
        margin-top: 42vh;
        text-align: center;
        font-size: 4rem;
        }
        .reginvalidp{
            text-align: center;
            color: white;
            font-size: 2rem;
        }
        @media (max-width:500px) {
        .reginvalid{
            font-size: 2rem;
        }
        .reginvalidp{
            text-align: center;
            color: white;
            font-size: 1rem;
        }
        }
    